/GameProject/Project/Debug
/GameProject/Project/Release
/GameProject/Project/.vs
/GameProject/Game/GameProject.pdb
/GameProject/Game/GameProject.exe
/GameProject/Game/GameProject.exp
/GameProject/Game/GameProject.lib
